@import "../../styles/mixins";

.cart {
  width: 100%;
  max-width: 821px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 94px;
    margin-bottom: 30px;
  }

  &__titleContainer {
    display: flex;
    gap: 17px;
    align-items: center;
  }

  &__icon {
    width: 29px;
    height: 29px;
  }

  &__delete {
    display: flex;
    gap: 7px;
    align-items: center;
    border: none;
    background-color: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  &__deleteIcon {
    width: 20px;
    height: 20px;
  }

  &__deleteText {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B6B6B6;
  }

  &__result {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__resultInfo {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    &_orange {
      color: #fe5f1e;
    }
  }
}

.btn {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 38px;
  }

  &__navBack {
    @include btn ();
    display: flex;
    justify-content: center;
    background-color: #282828;
    color: #fff;
    text-decoration: none;
  }

  &__navBackIcon {
    min-width: 6px;
    height: 12px;
    margin-right: 14px;
  }

  &__navPush {
    @include btn ();
    color: #FFFFFF;
    border-color: #FE5F1E;
    background-color: #FE5F1E;
  }
}

@media (max-width: 870px) {
  .cart {
    &__container {
      padding-top: 30px;
    }

    &__result {
      margin-top: 20px;
      display: flex;
    }
  
    &__resultInfo {
      font-size: 18px;
      line-height: 20px;
    }
  }

}

@media (max-width: 680px) {
  .cart {
    &__result {
      margin-top: 30px;
      flex-direction: column;
      gap: 10px;
    }

    &__deleteText {
      display: none;
    }
  }
  .btn {
    &__container {
      flex-direction: column;
      gap: 10px;
      max-width: 400px;
      margin: 40px auto 0;
    }
  }
}