.pizzas {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 45px 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__heading {
    margin-bottom: 35px;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 815px) {
  .pizzas {
    &__list {
      gap: 15px;
    }
  } 
}

@media (max-width: 680px) {
  .pizzas {
    &__list {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(260px, 400px));
    }
  } 
}
