.page__content {
  max-width: 1340px;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 67px 93px;
  background-color: #FFF;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

@media (max-width: 815px) {
  .page__content {
    min-height: calc(100vh - 40px);
    padding: 25px 33px 46px;
  }
}