.sort {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 40px 0 32px;
}

@media (max-width: 815px) {
  .sort {
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
  }
}