.header {
  padding-bottom: 40px;
  border-bottom: 1px solid #F7F7F7;
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 1020px) {
  .header {
    flex-direction: column;

    &__item {
      width: 100%;
    }
  }
}

@media (max-width: 815px) {
  .header {
    padding-bottom: 25px;
  }
}

@media (max-width: 680px) {
  .header {
    flex-direction: row;
    align-items: flex-start;

    &__item {
      gap: 8px;
    }
  }
}