.search {
  position: relative;
  
  &__icon {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: .5;
  }

  &__input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 15px 8px 40px;
    border: 1.5px solid rgb(165, 163, 163);

    &:focus {
      border: 1.5px solid #FE5F1E;
      outline: 1.5px solid #FE5F1E;
    }
  }
}

@media (max-width: 955px) {
  .search {
    margin-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .search {
    max-width: 150px;
  }
}