.search {
  position: relative;
  flex-basis: 300px;
  
  &__icon {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 20px;
    height: 20px;
    opacity: .5;
    path {
      fill: #000;
    }
  }

  &__clear {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 18px;
    height: 18px;
    opacity: .5;
    transition: opacity .3s;
    border: none;
    background-color: inherit;
    padding: 0;

    path {
      fill: #000;
    }

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    box-sizing: border-box;
    padding: 8px 40px;
    border-radius: 10px;
    border: 2px solid rgb(165, 163, 163);

    &:focus {
      border: 2px solid #FE5F1E;
      outline: none;
    }
  }
}

@media (max-width: 955px) {
  .search {
    margin-bottom: 15px;
  }
}
