.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
  }
}